@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.flex_center {
  @apply flex justify-center items-center;
}
.flex_between {
  @apply flex justify-between items-center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  fill: #ffffff !important;
  stroke: #ffffff !important;
}

.swiper-pagination-bullet {
  background-color: #38bdf8 !important;
}

.swiper-pagination-bullet-active {
  background-color: #38bdf8 !important;
}
